<div class="column1">
  <figure class="card code-card">
    <form action="#" class="signup-form">
      <h2 class="title" style="color: rgb(3, 54, 3)">Create a New Blog Post</h2>
      <br>
      <div>
        <div class="input-field">
          <input style="border-radius: 1.5rem; " id="blog_title" type="text"
            placeholder="Enter Your Blog Title" />
        </div>
        <div class="input-field">
          <input style="border-radius: 1.5rem;" id="blog_content" type="text" placeholder="Enter Your Main Content Here" />
        </div>
        <input id="createPost" type="submit" class="btn" value="Submit"/>
    </form>
  </figure>
</div>