
header {
    background-color: #e0e0eb;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px 0 black;
    border-radius: 15px;
    margin: 0 20px;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Fjalla One', sans-serif;
}

header li a:hover {
    color: blue;
}

#online-blog-title {
    font-family: 'Staatliches', cursive;
}

#inner-content {
    padding-top: 20px;
}

a {
    color: rgb(146, 3, 146)
}

a:hover {
    color: rgb(146, 3, 146)
}

.blog-author {
    font-size: 1rem;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    font-family: sans-serif;
}

h2 {
    font-size: 1.3rem;
    font-family: sans-serif;
    margin-top: 60px;
}

h3 {
    font-size: 0.8rem;
    font-family: sans-serif;
}

p {
    text-align: justify;
}

.dashboard {
    line-height: 0.8;
}

.blog_main {
    font-size: 1.25rem;
    font-family: Serif;
    line-height: 1;
}

#blogdiv {
    text-align: center;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-content {
    text-align: center;
    border: 1px solid black;
    width: 70%;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(224,224,235,0.5);
    border-radius: 20px;
    margin: 15px;
}

.blog-entry {
    width: 90%;
}

textarea {
    resize: none;
    width: 100%;
    height: 65px;
    border-radius: 1rem;
    text-indent: 20px;
}

textarea::placeholder {
    color: black;
}

#blog-title-input {
    background-color: rgba(199, 199, 199, 0.5);
    max-height: 30px;
    width: 85%;
}

#blog-content-input {
    min-height: 200px;
    width: 85%;
}

.add-comment-section {
    display: none;
}

.hideComments {
    display: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

.viewComments {
    margin-bottom: 15px;
}

#legalStuff {
    text-align: center;
}

.code-card {
    box-shadow: 0 10px 20px rgb(3, 54, 3);
    width: 100%;
}

.input-field {
    max-width:none; 
    grid-template-columns: none; 
    background-color: #fff;
}

#publishPost {
    box-shadow: 0 10px 30px rgba(106, 110, 106, 0.692); 
    position: relative;
    left: 200px;
}

.comments-section {
    border-radius: 5px;
    display: none
}

.comment p {
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    display: block;
}

.comment {
    background-color: rgba(128, 128, 128, 0.1);
    margin: 3px;
    border-radius: 8px;
}

#wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#login {
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(224,224,235,0.5);
}

#register {
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(224,224,235,0.5);
}

footer {
    margin-left: 150px;
    
}